//The main scss file for feis_bicycle_staff.

//IMPORTANT:
// Any resources from this project should be referenced using SRC_PATH preprocessor var
// Ex: background-image: url(/* @echo SRC_PATH*//img/sample.jpg)

.securesite {
  position: relative;

  .loginButtonContainer {
    position: absolute;
    right: 58px;
    top: 8px;
  }
}
#maincontent #feis_bicycle_staff_container {

  // FORM

  .cot-form {
    .form-group {
      margin-bottom: 1rem;

      .form-control {
        .horizontal {
          padding: 0 1rem 0 0;
        }
      }
    }

    .panel {
      margin-bottom: 1rem;

      h4 {
        margin: 0;
      }

      .repeatControl {
        .repeatControl-wrapper {
          .repeatControl-title {
            margin-bottom: 1rem;

            h4 {
              margin: 0;
            }
          }

          .repeatControl-sets {
            .repeatControl-set {
              border-top: 1px solid #ccc;
              padding-top: 1rem;

              .repeatControl-set-button {
                margin-bottom: 1rem;

                button {
                  .glyphicon {
                    display: none;
                  }
                }
              }
            }
          }

          .repeatControl-button {
            border-top: 1px solid #ccc;
            margin-bottom: 1rem;
            padding-top: 1rem;

            button {
              .glyphicon {
                display: none;
              }
            }
          }
        }
      }
    }
  }

  // DATATABLE

  .btn-action {
    display: inline-block;
    position: relative;
  }

  .dataTables_wrapper {
    margin-bottom: 5px;
    margin-top: 5px;

    .alert {
      margin-bottom: 5px;
    }

    .dataTables_length {
      &:after {
        content: "";
        display: table;
        clear: both;
      }

      label {
        float: right;
        font-weight: normal;

        @media (min-width: 768px) {
          padding-top: 22px;
        }

        select {
          height: 34px;
          width: auto;
        }
      }
    }

    .dataTables_filter {
      &:after {
        content: "";
        display: table;
        clear: both;
      }

      label {
        font-weight: normal;
        display: block;

        input {
          display: block;
          height: 34px;
          margin-left: 0;
          width: 100%;
        }
      }
    }

    .table-responsive {
      margin: 0;

      table {
        margin: 0 0 5px 0 !important;

        button {
          margin: 0;
        }

        td, th {
          &.openButtonWidth {
            min-width: 57px;
            width: 57px;
          }

          &.minWidth {
            min-width: 200px;
          }

          &.minWidthLarge {
            min-width: 600px;
          }

          &.statusWidth {
            min-width: 100px;
            width: 100px;
          }
        }

        thead {
          tr {
            th {
              border-bottom-width: 0;

              .form-control {
                width: 100%;
              }
            }

            &:last-child {
              th {
                border-bottom-width: 2px;
              }
            }
          }

          tr + tr {
            th {
              color: #000000;
              font-weight: normal;
            }
          }
        }
      }
    }

    .dataTables_info {
      padding: 7px 0 5px 0;
    }

    .dataTables_paginate {
      &:after {
        content: "";
        display: table;
        clear: both;
      }

      ul.pagination {
        float: right;
        margin-bottom: 5px;
        padding: 0;
      }
    }
  }

  table.dataTable thead > tr > th.sorting_asc,
  table.dataTable thead > tr > th.sorting_desc,
  table.dataTable thead > tr > th.sorting,
  table.dataTable thead > tr > td.sorting_asc,
  table.dataTable thead > tr > td.sorting_desc,
  table.dataTable thead > tr > td.sorting {
    padding-right: 30px;
  }

  ul.dropdown-menu {
    margin: 2px 0 0 0;
    max-height: unset;
    overflow-y: unset;
    padding: 5px 0;
    width: 200px;

    li + li {
      border-top: 0;
    }

    li {
      a {
        position: relative;
        padding-right: 54px;

        span.glyphicon {
          margin-right: 0;
          position: absolute;
          right: 20px;
          top: 5px;
        }
      }

      &.divider {
        margin: 5px 0;
      }
    }
  }

  .row-btn {
    & > * {
      margin-bottom: 5px;
    }
  }

  // TAB NAVIGATION

  .navbar {
    // border-bottom: 3px solid #165788;
    border-bottom: 3px solid #006159;
    border-radius: 0;
    margin-bottom: 15px;

    .nav.nav-tabs {
      overflow: visible;

      &:after {
        clear: both;
        content: "";
        display: table;
      }

      li {
        a {
          color: #000;
          background-color: #f2f2f2;
          border: 1px solid #d9d9d9;
          font-size: 18px;
          font-weight: 500;
          margin-right: 5px;
          margin-top: 5px;
x
          &:focus {
            border-top: 4px solid #ec9f09;
            padding-top: 7px;
            text-decoration: underline;
            outline: -webkit-focus-ring-color auto 5px !important;
            outline-color: -webkit-focus-ring-color !important;
            outline-style: auto !important;
            outline-width: 5px !important;
            outline-offset: 0;
          }

          &:hover {
            text-decoration: underline;
          }
        }

        &.active {
          a {
            color: #fff;
            // background-color: #165788;
            // border-color: #165788;
            background-color: #006159;
            border-color: #006159;

            &:focus {
              border-top: 4px solid #ec9f09;
              padding-top: 7px;
              text-decoration: none;
            }

            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

.modal-body {
  form.cot-form {
    .dropdown-menu .active a {
      text-decoration: underline;
    }
    .dropdown-menu a {
      text-decoration: none;
      color: #666;
    }
    .componentTitle {
      background-color: #ddd;
    }
    .btn-group {
      display: block;
    }
    input[type="radio"],
    input[type="checkbox"] {
      width: 20px;
      min-width: 0;
      box-shadow: none;
      display: inline-block;
      height: 15px;
    }
    .vertical,
    label.vertical {
      display: block;
    }
    .horizontal,
    .horizontal {
      display: inline-block;
      padding: 0px 10px;
      vertical-align: top;
    }
    .form-group {
      margin-bottom: 1rem;
    }
    textarea {
      display: block;
      width: 100%;
      height: 70px;
    }
    .staticlabel {
      font-weight: bold;
      display: block;
      margin: 0 0 5px 0;
    }
    .helptext {
      font-style: italic;
      margin: 0px;
      color: #434343;
    }
    .optional {
      margin-left: 5px;
      font-weight: normal;
      color: #666;
    }
    .form-control-feedback {
      top: 0px;
    }
    .datetimepicker .form-control-feedback {
      margin-right: 42px;
    }
    .dropdown-entry-field .form-control-feedback {
      margin-right: 15px;
    }
    .intl-tel-input {
      display: block;
    }
    .intl-tel-input .form-control-feedback {
      top: 0px;
    }
    fieldset i.form-control-feedback {
      position: static;
      float: right;
      width: 0;
      height: 0;
      line-height: 26px;
      font-size: 16px;
    }
    fieldset.form-control {
      padding: 4px 24px 0 12px;
    }
    select.form-control {
      height: 34px;
    }
    .form-control {
      height: auto;
    }
    .intl-tel-input ul {
      list-style-type: none;
      padding: 0px;
      overflow-y: auto;
      margin: 0px;
    }
    .entryField {
      position: relative;
    }

    .panel {
      border: 0;
      box-shadow: unset;
      margin: 0;

      .panel-body {
        padding: 0;
      }
    }
  }
}
